<html>
	<h1>Hello World!! This is <%= @name %>'s second cookbook!! :)</h1>
       	<body>
        	HOSTNAME : <%= node['ec2']['hostname'] %><br>
                PUBLIC IP : <%= node['ec2']['public_ipv4'] %><br>
                IPADDRESS : <%= node['ipaddress'] %><br>
                CPU : <%= node['cpu']['0']['mhz'] %><br>
                MEMORY : <%= node['memory']['total'] %><br>
		<img src="koushik.png"/>
	</body>
</html>
